!!!
html(lang="en")
  head
    title vstrokes
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block mainContent
  footer
    script(type='text/javascript', src= '//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/javascripts/sketch.js')
    block jsLibs
