!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.1.9.0.js')
    script(src='/javascripts/sketch.js')
    script(src='/javascripts/vstrokes.js')
    script
      console.log('a');

  body!= body