body
  padding: 0 10px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

a
  color: #00B7FF

#ori-plot
  background-image:url('../images/ori-painting.jpg')
  width: 300px
  height: 100px


#canvas
  width:1500px
  height:1000px
  border: 1px solid blue
  position: relative

img.plot
  position: absolute
  width:300px
  height:100px
  border: 1px solid red

canvas#colors_sketch
  width: 300px
  height: 100px
  border: 1px solid green

#empty-plots-count
  font-size: 4em
  float right